<div class="container" >
  <div class="grey" >
    <span class = "align-midle">
  <h1 >Stupid Coaching!</h1>
  <p>Ask him something</p>

  <form action="/answer" method="get">
    <input  type="text" name="question" placeholder="What's wrong with you?">
    <!-- <input type="submit"> -->
    <input type="submit" class="btn btn-primary"></input>
  </form>
    </div>
  </span>
</div>
